body {
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
  }
  h1 {
    color: blue;
  }
  p {
    color: red;
  }

.CCA {
    font-size: 40px;
    color: #ee6225;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
   }
   


/* #content, html, body {
    height: 100%;
} */
#left {
    float: left;
    width: 33%;
    /* #background: red; */
    height: 100%;
    overflow: auto;
}
#middle {
    float: left;
    width: 33%;
    /* background: blue; */
    height: 100%;
    overflow: auto;
}

#right {
  float: left;
  width: 33%;
  /* background: blue; */
  height: 100%;
  overflow: auto;
}